:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --color-primary: hsl(180, 100%, 40%);
    --color-secondary: hsl(30, 100%, 40%);
    --color-background: hsl(0, 0%, 90%);
    --color-text: hsl(0, 0%, 20%);
    --color-muted-text: hsl(0, 0%, 35%);
    --color-danger: hsl(0, 75%, 35%);
    --color-warning: hsl(45, 100%, 40%);
    --color-success: hsl(120, 50%, 40%);
    --color-info: hsl(210, 90%, 40%);
    --color-hover: hsl(225, 70%, 50%);
    --color-active: hsl(210, 70%, 35%);
    --color-disabled: hsl(0, 0%, 65%);
    --color-light-border: hsl(0, 0%, 75%);
    --color-dark-border: hsl(0, 0%, 55%);
    --color-lavender: hsl(270, 60%, 50%);
    --color-sunburst: hsl(45, 100%, 50%);
    --color-rose: hsl(300, 40%, 60%);
    --color-dark-gray: hsl(0, 0%, 20%);
    --color-medium-gray: hsl(0, 0%, 40%);
    --color-light-gray: hsl(0, 0%, 60%);
    --color-very-light-gray: hsl(0, 0%, 75%);
    --color-positive: hsl(135, 40%, 50%);
    --color-negative: hsl(345, 80%, 40%);
    --color-neutral: hsl(195, 30%, 40%);
  }

